<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        <a href="https://rochajpp.github.io/Portfolio">Rochajpp - Portfólio</a>
    </div>
</footer>