@page "/"

<h1>@Mensagem</h1>
<input @bind="@Mensagem" />


@* <h2>@Saudacao()</h2>

<button class="btn-primary" @onclick="AtualizaMensagem">Atualizar Mensagem</button> *@




@code{
    private string Mensagem {get; set; } = "Olá, João";

    private string Saudacao(){
        return "Bem-Vindo, ao Blazor";
    }

    private void AtualizaMensagem(){
        Mensagem = "Olá, Blazor, tudobem ???";
    }

}
